Repository ExoCTK/exoctk, pull requests merged in 2019-05, with the labels that each got.

#252 Changing days --> day in the time conversion and fixing the model label typo.
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/form_validation.py
Labels: Bug, groups_integrations

#253 Updated to version 0.3
  exoctk/exoctk_app/templates/base.html
  setup.py
Labels: High Priority, Web App

#254 Version update
  ci/install_conda.sh
  env/environment-3.5.yml
  env/environment-3.6.yml
  exoctk/exoctk_app/form_validation.py
  exoctk/modelgrid.py
  exoctk/utils.py
  pip_requirements.yml
  setup.py
Labels: Bug, Web App, limb_darkening
