Repository ExoCTK/exoctk, pull requests merged in 2019-04, with the labels that each got.

#204 Wrapper for PLATON
  .travis.yml
  README.rst
  docs/index.rst
  docs/source/exoctk.atmopspheric_retrievals.rst
  docs/source/exoctk.tests.rst
  env/environment-3.5.yml
  env/environment-3.6.yml
  exoctk/atmospheric_retrievals/__init__.py
  exoctk/atmospheric_retrievals/emcee_corner.png
  exoctk/atmospheric_retrievals/multinest_corner.png
  exoctk/atmospheric_retrievals/platon_example.py
  exoctk/atmospheric_retrievals/platon_wrapper.py
  exoctk/atmospheric_retrievals/results_multinest.dat
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/templates/atmospheric_retrievals.html
  exoctk/exoctk_app/templates/index.html
  exoctk/notebooks/atmopsheric_retrievals_demo.ipynb
  exoctk/tests/test_atmospheric_retrievals.py
  setup.py
Labels: Enhancement, retrievals

#245 Form validation
  exoctk/contam_visibility/sossFieldSim.py
  exoctk/contam_visibility/visibilityPA.py
  exoctk/exoctk_app/'
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/form_validation.py
  exoctk/exoctk_app/templates/contam_visibility.html
  exoctk/exoctk_app/templates/contam_visibility_results.html
  exoctk/exoctk_app/templates/groups_integrations.html
  exoctk/exoctk_app/templates/limb_darkening.html
  exoctk/groups_integrations/groups_integrations.py
  exoctk/limb_darkening/limb_darkening_fit.py
  exoctk/utils.py
Labels: Enhancement, High Priority, Web App, groups_integrations

#247 Put generic grid back
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/form_validation.py
  exoctk/exoctk_app/templates/generic.html
  exoctk/utils.py
Labels: Bug, High Priority, Web App, forward_models

#242 update the visibility output file
  exoctk/contam_visibility/visibilityPA.py
  exoctk/data/images/visib_demo.png
  exoctk/data/images/visib_table_demo.png
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/templates/contam_visibility.html
  exoctk/exoctk_app/templates/contam_visibility_results.html
Labels: Enhancement, High Priority

#249 Clean up for v0.3
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/form_validation.py
  exoctk/exoctk_app/templates/contam_visibility.html
  exoctk/exoctk_app/templates/exotransmit.html
  exoctk/exoctk_app/templates/exotransmit_validation.html
  exoctk/exoctk_app/templates/groups_integrations.html
  exoctk/exoctk_app/templates/index.html
  exoctk/exoctk_app/templates/lightcurve_fitting.html
  exoctk/exoctk_app/templates/lightcurve_fitting_demo.html
  exoctk/exoctk_app/templates/limb_darkening.html
  exoctk/exoctk_app/templates/target_resolve.html
  exoctk/lightcurve_fitting/fitters.py
  exoctk/lightcurve_fitting/lightcurve.py
  exoctk/lightcurve_fitting/models.py
  exoctk/notebooks/lightcurve_fitting_demo.ipynb
  exoctk/utils.py
Labels: Bug, High Priority, Web App
