Repository ExoCTK/exoctk, pull requests merged in 2019-12, with the labels that each got.

#318 Adding manual sphinx install
  ci/install_conda.sh
  exoctk/lightcurve_fitting/simulations.py
  exoctk/tests/test_lightcurve_fitting.py
Labels: Bug, High Priority, Installation

#262 Implement Atmospheric Retrieval code on AWS
  .gitignore
  README.rst
  docs/source/exoctk.atmopspheric_retrievals.rst
  env/environment-3.5.yml
  env/environment-3.6.yml
  env/environment-3.7.yml
  exoctk/atmospheric_retrievals/aws_config.json
  exoctk/atmospheric_retrievals/aws_tools.py
  exoctk/atmospheric_retrievals/build-exoctk-env-cpu.sh
  exoctk/atmospheric_retrievals/build-exoctk-env-gpu.sh
  exoctk/atmospheric_retrievals/emcee_corner.png
  exoctk/atmospheric_retrievals/example_data/hat-p-12b.csv
  exoctk/atmospheric_retrievals/example_data/hat-p-1b.csv
  exoctk/atmospheric_retrievals/example_data/hat-p-26b.csv
  exoctk/atmospheric_retrievals/example_data/hd189733b.csv
  exoctk/atmospheric_retrievals/example_data/hd209458b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-107b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-121b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-12b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-17b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-19b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-31b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-39b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-52b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-6b.csv
  exoctk/atmospheric_retrievals/example_data/wasp-96b.csv
  exoctk/atmospheric_retrievals/examples.py
  exoctk/atmospheric_retrievals/exoctk-env-init.sh
  exoctk/atmospheric_retrievals/multinest_corner.png
  exoctk/atmospheric_retrievals/platon_example.py
  exoctk/atmospheric_retrievals/platon_wrapper.py
  exoctk/notebooks/atmopsheric_retrievals_demo.ipynb
  exoctk/notebooks/atmospheric_retrievals_demo.ipynb
  exoctk/notebooks/corner_plot.png
  exoctk/notebooks/log_file.png
  exoctk/notebooks/results.png
  exoctk/tests/test_atmospheric_retrievals.py
  pip_requirements.txt
  setup.py
Labels: retrievals

#327 Set white light rp as the default radius for simulate_lightcurve
  exoctk/lightcurve_fitting/simulations.py
Labels: Enhancement, High Priority, lightcurve_fitting

#271 Contamination Expansion
  exoctk/contam_visibility/sossContamFig.py
  exoctk/contam_visibility/sossFieldSim.py
  exoctk/contam_visibility/visibilityPA.py
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/templates/contam_visibility.html
  exoctk/exoctk_app/templates/contam_visibility_results.html
Labels: Enhancement, contam_visibility

#325 Updating the Documentation across various sources for workshop readiness
  README.rst
  docs/conf.py
  docs/index.rst
  docs/source/exoctk.atmospheric_retrievals.rst
  docs/source/exoctk.tests.rst
  exoctk/__init__.py
  exoctk/atmospheric_retrievals/aws_config.json
  exoctk/data/contam_visibility/.gitkeep
  exoctk/data/exoctk_contam/.gitkeep
  exoctk/data/exoctk_log/.gitkeep
  exoctk/data/fortney/.gitkeep
  exoctk/data/generic/.gitkeep
  exoctk/data/modelgrid/.gitkeep
  exoctk/exoctk_app/templates/base.html
  exoctk/exoctk_app/templates/groups_integrations.html
  exoctk/exoctk_app/templates/limb_darkening.html
  exoctk/tests/__init__.py
  exoctk/utils.py
Labels: Documentation, Medium Priority

#332 Get LDC working (with passing tests) on test server
  exoctk/limb_darkening/limb_darkening_fit.py
Labels: Bug
