Repository ExoCTK/exoctk, pull requests merged in 2019-01, with the labels that each got.

#186 Fixed static mu_min value for LDC calculations on the Web app.
  exoctk/exoctk_app/app_exoctk.py
  exoctk/limb_darkening/limb_darkening_fit.py
Labels: Bug, Web App, limb_darkening

#188 Configure conda envrironments
  .travis.yml
  ci/install_conda.sh
  ci/setup_conda_env.sh
  env/environment-3.5.yml
  env/environment-3.6.yml
  env/environment-3.7.yml
Labels: Installation

#192 Switched LC fitting to bokeh
  .gitignore
  .pytest_cache/v/cache/nodeids
  README.rst
  exoctk/lightcurve_fitting/fitters.py
  exoctk/lightcurve_fitting/lightcurve.py
  exoctk/lightcurve_fitting/models.py
  exoctk/lightcurve_fitting/parameters.py
  exoctk/notebooks/lightcurve_fitting_demo.ipynb
  exoctk/tests/test_lightcurve_fitting.py
Labels: High Priority, lightcurve_fitting
