Repository ExoCTK/exoctk, pull requests merged in 2020-11, with the labels that each got.

#441 Fix issues with bokeh v2.x
  env/environment-3.6.yml
  env/environment-3.7.yml
  exoctk/exoctk_app/app_exoctk.py
  exoctk/forward_models/forward_models.py
  pip_requirements.txt
Labels: Bug

#438 [contam visibility] : accounting for cases with 100 percent visibility
  exoctk/contam_visibility/visibilityPA.py
  exoctk/exoctk_app/templates/base.html
  setup.py
Labels: Bug, contam_visibility

#437 [contam visibility] : add failing test for issue #436
  exoctk/tests/__init__.py
  exoctk/tests/test_visibilityPA.py
Labels: Enhancement, contam_visibility

#435 [contam visibility] make binComp a list of floats
  exoctk/contam_visibility/field_simulator.py
Labels: Bug, contam_visibility

#451 Adds a CHANGELOG file
  CHANGELOG.md
  exoctk/exoctk_app/static/images/._ExoCTK_logo.gif
  exoctk/exoctk_app/static/images/._STScI_logo.png
  exoctk/exoctk_app/static/images/._favicon.png
  exoctk/exoctk_app/static/images/._ldc_results.png
  exoctk/exoctk_app/templates/base.html
  exoctk/notebooks/figures/._binCompsField.png
Labels: Enhancement
