Repository ExoCTK/exoctk, pull requests merged in 2020-09, with the labels that each got.

#409 [WIP]: Small Web app improvements
  exoctk/exoctk_app/templates/base.html
  exoctk/exoctk_app/templates/limb_darkening.html
  exoctk/modelgrid.py
Labels: Low Priority, Usability, Web App, limb_darkening

#349 Contamination & Visibility : `MIRI` expansion
  env/environment-3.6.yml
  env/environment-3.7.yml
  exoctk/contam_visibility/astro_funcx.py
  exoctk/contam_visibility/ephemeris_old2x.py
  exoctk/contam_visibility/f_visibilityPeriods.py
  exoctk/contam_visibility/math_extensionsx.py
  exoctk/contam_visibility/miniTools.py
  exoctk/contam_visibility/quaternionx.py
  exoctk/contam_visibility/resolve.py
  exoctk/contam_visibility/sossContamFig.py
  exoctk/contam_visibility/sossFieldSim.py
  exoctk/contam_visibility/time_extensionsx.py
  exoctk/contam_visibility/visibilityPA.py
  exoctk/exoctk_app/app_exoctk.py
  exoctk/exoctk_app/templates/contam_visibility.html
  exoctk/exoctk_app/templates/contam_visibility_results.html
  exoctk/notebooks/contam_demo.ipynb
  exoctk/notebooks/figures/._binCompsField.png
  exoctk/notebooks/figures/binCompsField.png
  pip_requirements.txt
  setup.py
Labels: contam_visibility

#417 Ldc table fix
  env/environment-3.6.yml
  env/environment-3.7.yml
  exoctk/exoctk_app/app_exoctk.py
  pip_requirements.txt
Labels: Bug, Web App, limb_darkening
