Repository ExoCTK/exoctk, pull requests merged in 2020-08, with the labels that each got.

#377 Read the Docs: Updating Phase Constraint
  docs/index.rst
  docs/tutorials/exoctk.PhaseConstraintCalculator.rst
  pip_requirements.txt
Labels: Documentation, High Priority, phase_constraint

#396 updating docstrings: RA and Dec as str
  exoctk/contam_visibility/visibilityPA.py
Labels: Documentation

#392 Some minor updates to the notebook
  exoctk/notebooks/groups_integrations_demo.ipynb
Labels: Documentation, groups_integrations
