Repository ExoCTK/exoctk, pull requests merged in 2021-05, with the labels that each got.

#476 Adding Github Actions
  .github/workflows/ci.yml
  .travis.yml
  exoctk/tests/test_atmospheric_retrievals.py
Labels: Category: Enhancement, Category: Tests

#458 Added throughputs from pandeia and helpers function to fetch them
  env/environment-3.7.yml
  exoctk/helpers.py
Labels: 2: MEDIUM PRIORITY, Category: Enhancement, Tool: limb_darkening

#498 Add twine dependency
  .github/workflows/ci.yml
  env/environment-3.7.yml
  env/environment-3.8.yml
  env/environment-3.9.yml
  pip_requirements.txt
  setup.py
Labels: 3: LOW PRIORITY, dependencies

#500 Add twine dependency [for develop]
  .github/workflows/ci.yml
  env/environment-3.7.yml
  env/environment-3.8.yml
  env/environment-3.9.yml
  pip_requirements.txt
  setup.py
Labels: 3: LOW PRIORITY, dependencies

#499 Nirspec Throughputs for LDC
  exoctk/data/throughputs/NIRSpec.CLEAR.PRISM.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F070LP.G140H.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F070LP.G140M.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F100LP.G140H.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F100LP.G140M.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F170LP.G235H.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F170LP.G235M.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F290LP.G395H.S200A1.txt
  exoctk/data/throughputs/NIRSpec.F290LP.G395M.S200A1.txt
  exoctk/throughputs.py
Labels: 1: HIGH PRIORITY, Tool: limb_darkening, Urgent: Bug
